@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, aliceblue, rgb(152, 205, 255));
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    color: black;
  }
  50% {
    transform: rotateY(360deg);
    color: rgb(129, 196, 255);
  }
  100% {
    transform: rotate(0deg);
    color: black;
  }
}

#buttons {
  display: flex;
  justify-content: center;
  margin: 50px 20px;
}

button {
  padding: 10px 20px;
  width: 150px;
  border-radius: 0px;
  border: none;
  font-size: larger;
  background-color: rgb(173, 217, 255);
  box-shadow: 5px 5px 5px rgb(159, 175, 190);
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: rgb(138, 200, 255);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  outline: none;
  border: none;
  box-shadow: 3px 3px 3px 3px rgb(159, 175, 190);
  border-radius: 10px;
  padding: 10px;
  margin: 0px 10px;
  width: 50px;
}

#timer_input {
  display: flex;
  margin: 15px;
}

.label {
  margin: 5px 15px;
  font-size: small;
}

#timer_pause,
#timer_start, #timer_resume {
  margin: 10px;
  width: 80px;
  font-size: small;
  border-radius: 40px;
}

#timer {
  margin-top: 50px;
  font-size: xx-large;
}

.done {
  font-weight: 500;
  font-size: 50px;
  animation: rotate 5s linear infinite;
}
